@model TerminalTransporte.Models.Ciudad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmpleados.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_ciudad)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_ciudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Codigo_ciudad }, new { @class = "glyphicon glyphicon-pencil" })|
    @Html.ActionLink(" ", "Index", new { id = Model.Codigo_ciudad }, new { @class = "glyphicon glyphicon-share-alt" })
</p>
