@model TerminalTransporte.Models.Ciudad

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutEmpleados.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta segudo de Eliminar esta Ciudad?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_ciudad)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_ciudad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |


        <a href="@Url.Action("Index", "Ciudad")" class="btn btn-primary">
            <i class="icon-pencil icon-white"></i>
            <span>
                <strong>Regresar</strong>
            </span>
        </a>
    </div>
    }
</div>
