
@{
    ViewBag.Title = "Redireccion";
}

<h2>hola mundo </h2>

<div class="row">
    <div class="col-md-4">
        <h2>bienvenidos esclavos</h2>
        <p><a class="btn btn-default" href="http://localhost:59464/Acceso/Login">Login Usuario</a></p>
    </div>
</div>

<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2>bienvenidos a nuestra paguina clientes</h2>
        <p><a class="btn btn-default" href="http://localhost:59464/AccesoCliente/LoginCliente">Login Cliente</a></p>
    </div>
</div>

