
@{
    ViewBag.Title = "Empresas";
}

<br />

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/ARAUCA.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.empresaarauca.com.co/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/ARMENIA.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="http://beta.transarmenia.com/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/BOLIVARIANO.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="http://www.bolivariano.com.co/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/BRASILIA.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.expresobrasilia.com/?gclid=CjwKCAiA3OzvBRBXEiwALNKDPyBJOaJOlHJs8lJ-3EoC63Adw26zQ_4-uvOAwFJ81Wo0EaguRTyf5xoCYJUQAvD_BwE" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>IR</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />

        </div>

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/CAMBIA.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://es-la.facebook.com/pages/category/Cargo---Freight-Company/Transportes-Cambia-1801583213237392/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/COOPETRAN.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.copetran.com/" class="btn btn-success btn-lg"target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/COOPUERTOS.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="http://www.terminaldemanizales.com.co/Paginas/Empresas.aspx" class="btn btn-success btn-lg"target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />

        </div>

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/COOTRAMAN.png" width="200" height="200" >
                    <h2></h2>
                    <a href="http://cootraman.com/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/COOTRANSHUILA.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.cootranshuila.com/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/COOTRANSRIO.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.facebook.com/pages/Empresa-De-Transportes-Cootransrio/675227712536081" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />

        </div>

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/NORCALDAS.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.cootransnorcaldas.com/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/OCCIDENTAL.jpg" width="200" height="200">
                    <h2></h2> 
                    <a href="https://deoccidente.com/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/OSPINA.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="http://www.flotaospina.com/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />

        </div>

        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/PALMIRA.png" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.expresopalmira.com.co/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
        <div class="col-sm-4" style="background-color:white;">
            <div class="text-center">
                <div>
                    <img src="~/Content/imagenes/TREJOS.jpg" width="200" height="200">
                    <h2></h2>
                    <a href="https://www.infodebuses.com.co/es/buses/expreso-trejos/" class="btn btn-success btn-lg" target="_blank">
                        <i class="icon-pencil icon-white"></i>
                        <span>
                            <strong>Ir</strong>
                        </span>
                    </a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
