@{
    ViewBag.Title = "Home Page";
}

<br />


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/imagenes/terminal10.jpg" width="1200" height="500">
            <div class="carousel-caption">

            </div>
        </div>

        <div class="item">
            <img src="~/Content/imagenes/terminal20.jpg" width="1200" height="500">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="~/Content/imagenes/terminal40.jpg" width="1200" height="500">
            <div class="carousel-caption">

            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carousel-example-generic" roles="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidder="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" carousel-example-generic" roles="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidder="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/Content/imagenes/mision.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 style="color:green;">MISION</h2>
            <p ALIGN="justify">Ofrecer comodidad, seguridad y accesibilidad a todos nuestros usuarios a través de una infraestructura moderna que permita la prestación de servicios complementarios y conexos al transporte terrestre.</pALIGN="justify">

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/Content/imagenes/vision.jpg" alt="Generic placeholder image" width="140" height="140" style=" margin-left:65px">
            <h2 style="color:green; margin-left:55px">VISION</h2>
            <p ALIGN="justify" style=" margin-left:45px">En el 2023 seremos la mejor terminal de transportes del país en servicios complementarios y conexos al transporte terrestre.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/Content/imagenes/valores.jpg" alt="Generic placeholder image" width="140" height="140" style="margin-left:65px">
            <h2 style="color:green; margin-left:65px">VALORES</h2>
            <ul style="margin-left:65px">
                <li>Honestidad </li>
                <li>Integridad </li>
                <li>Lealtad Respeto </li>
                <li>Responsabilidad </li>
                <li>Solidaridad Tolerancia </li>
                <li>Libertad </li>
                <li>Compromiso Servicio</li>
                <li>Trabajo En Equipo</li>
            </ul>


        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color:green;">QUIENES SOMOS <span class="text-muted"></span></h2>
            <p class="lead" ALIGN="justify">El Terminal de Transporte de Manizales S.A., es una Empresa Industrial y Comercial del Estado, cuya composición accionaria en un 100% corresponde a capital aportado por entidades estatales; sujeta al Derecho privado en sus actos para el desarrollo de su actividad propia, industrial o comercial o de gestión económica; y a las leyes de contratación estatal y demás normas que la reglamenten o complementen en los contratos que celebre para el cumplimiento de su objeto. La Empresa tiene domicilio en la ciudad de Manizales, Departamento de Caldas, República de Colombia.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Content/imagenes/somos.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading" style="color:green;">OBJETO SOCIAL <span class="text-muted"></span></h2>
            <p class="lead" ALIGN="justify">Contribuir al desarrollo de los problemas de transporte de buses urbanos, intermunicipales e interdepartamentales, en el Municipio de Manizales, mediante la prestación del servicio publico de Terminal de Transporte Terrestre, en inmuebles de su propiedad, o sobre los cuales tenga, a cualquier titulo, la posesión o la tenencia;</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Content/imagenes/familia1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">

            <p class="lead" ALIGN="justify">Contribuir a la solución de los problemas de transporte de buses urbanos, intermunicipales e interdepartamentales, en los municipios de Colombia, mediante el establecimiento, la organización, el funcionamiento y la operación de Terminales de Transporte Terrestre, en bienes que sean de su propiedad, o sobre los cuales tenga, a cualquier titulo, la posesión o la tenencia, en los cuales pueda realizar las actividades que correspondan a la prestación del servicio de Terminal de Transporte Terrestre, en cumplimiento del objeto previsto.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/Content/imagenes/familia2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->


